{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
          <meta charset="utf-8">
          <meta content="width=device-width, initial-scale=1.0" name="viewport">
          <title>{% block title %}{% endblock %}</title>
          <meta content="{% block description %}{% endblock %}" name="description">
          <meta content="{% block keywords %}{% endblock %}" name="keywords">
          <!-- Google Fonts -->
          <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>